## Import Required Packages

In [125]:
# pip install sodapy

In [126]:
# pip install shapely

In [127]:
# pip install geos

In [128]:
# Import pandas library using an alias
import pandas as pd
# library to handle data in a vectorized manner
import numpy as np

# Converts JSON data to list of dictionaries
from sodapy import Socrata

# Find if a point is within a geographic polygon
from shapely.geometry import shape, Point

# To read json data
import json

## Define Boundaries of Ward 49

In [129]:
# Data downloaded from
# https://data.cityofchicago.org/Facilities-Geographic-Boundaries/Boundaries-Wards-2015-/sp34-6z76
f = open('Boundaries - Wards (2015-).geojson')
data = json.load(f)

In [130]:
data['features'][0]

{'type': 'Feature',
 'properties': {'shape_area': '116096507.849',
  'shape_leng': '93073.3408379',
  'ward': '12'},
 'geometry': {'type': 'MultiPolygon',
  'coordinates': [[[[-87.69623470134458, 41.857554952383886],
     [-87.69625217761623, 41.85737837458125],
     [-87.69580667908144, 41.85738556231649],
     [-87.69563389660365, 41.85738825308193],
     [-87.69562809591568, 41.85719702805783],
     [-87.69562116078188, 41.85700834920706],
     [-87.69561637352035, 41.85688422713168],
     [-87.69560929165026, 41.8567029293868],
     [-87.69560187295077, 41.85649638318093],
     [-87.69559414300423, 41.8562843188227],
     [-87.69558813777053, 41.85611285160562],
     [-87.69558195665606, 41.8559221187147],
     [-87.69557300593438, 41.85566287395292],
     [-87.69556876470354, 41.85555168924286],
     [-87.69556527989096, 41.85524121364114],
     [-87.69555758943197, 41.855242899599325],
     [-87.69432326150682, 41.85551353776601],
     [-87.69312975151932, 41.855775211151965],
     [-87.6931310335119, 41.85571501309859],
     [-87.69312895893913, 41.85569347607548],
     [-87.69312118190511, 41.85561278337964],
     [-87.69306976190748, 41.85560907182442],
     [-87.6930067840309, 41.855604302727336],
     [-87.69297529906744, 41.85559970919042],
     [-87.69271148158022, 41.85558912736361],
     [-87.69258489223691, 41.85558781706581],
     [-87.69230392902696, 41.85558498695776],
     [-87.69212061701695, 41.855584814500695],
     [-87.69185197183177, 41.855587238047505],
     [-87.6916610576227, 41.855591111764774],
     [-87.69151146198179, 41.85559625777222],
     [-87.69133990647339, 41.8556023243361],
     [-87.69107957758663, 41.85560635736231],
     [-87.69065479029406, 41.85561558119131],
     [-87.69064813365925, 41.855462505027226],
     [-87.69064308763734, 41.855284483896625],
     [-87.69064031114105, 41.855192645726284],
     [-87.69063829016388, 41.85512578466516],
     [-87.69063250855372, 41.8549369192475],
     [-87.69062631440472, 41.854742590919145],
     [-87.69062253695195, 41.85462407350076],
     [-87.69061597688355, 41.85446533647616],
     [-87.69061394975479, 41.85436878197381],
     [-87.69061390390706, 41.85436662538951],
     [-87.69061385926354, 41.85436446881193],
     [-87.69061340977636, 41.854343087590046],
     [-87.6906127767671, 41.854312972888934],
     [-87.69061271155499, 41.8543098636306],
     [-87.69061232141267, 41.85429157632816],
     [-87.69095004569498, 41.854288746158865],
     [-87.69107129954358, 41.854287448028344],
     [-87.69121523927323, 41.85428592006853],
     [-87.69140033711457, 41.854283442525386],
     [-87.69157849919407, 41.854280761165974],
     [-87.69173760697947, 41.85427835663595],
     [-87.69190413077023, 41.854275938381896],
     [-87.69204025498401, 41.8542741469552],
     [-87.69221426394792, 41.85427226433563],
     [-87.69236480856561, 41.85427066196199],
     [-87.69251631078716, 41.8542690377236],
     [-87.69268312562308, 41.854266894569214],
     [-87.69283804409378, 41.85426493242547],
     [-87.6930692557449, 41.854256163833696],
     [-87.69306486998673, 41.854108594334804],
     [-87.69306117947339, 41.85396702501035],
     [-87.69305817010303, 41.85389565673549],
     [-87.6930531753829, 41.853769665119856],
     [-87.69304524812934, 41.85356967664084],
     [-87.69304070660765, 41.853384605952165],
     [-87.69303865541836, 41.8533071242613],
     [-87.69303484178127, 41.85316305667079],
     [-87.69302922503097, 41.85296807346876],
     [-87.69302478688252, 41.85285040233016],
     [-87.69301276528562, 41.852531616455565],
     [-87.6930086153069, 41.85240461752932],
     [-87.69300593222106, 41.85232252072985],
     [-87.6930002668869, 41.85213242160453],
     [-87.6929938693929, 41.85193568374083],
     [-87.69298417211111, 41.85163743236036],
     [-87.69297940768934, 41.8514719572986],
     [-87.69297798364389, 41.85142252215826],
     [-87.69297450007605, 41.851285948139704],
     [-87.69297095166108, 41.85114863277141],
     [-87.69296815790702, 41.85102053214875],
     [-87.6929642268064, 41.850840332951584],
     [-87.6929601255439, 41.850673815361574],
     [-87.6929573580317, 41.850564215189216],
     [-87.692954705383, 41.8504591570017],
     [-87.6929524904353, 41.85037577348792],
     [-87.69294791613466, 41.85022722866057],
     [-87.69294459926384, 41.850113310056585],
     [-87.69293750060213, 41.849869428778426],
     [-87.6929328966504, 41.849672310085104],
     [-87.6929324062333, 41.849654231996645],
     [-87.69292884303603, 41.849523000146874],
     [-87.69292277551477, 41.84933281675254],
     [-87.69291829074272, 41.84920343717136],
     [-87.6928237836152, 41.849204409245594],
     [-87.69244083884857, 41.84921006642333],
     [-87.6922732689854, 41.84921195833691],
     [-87.69204249140003, 41.84921440194858],
     [-87.69184420030402, 41.84921645032512],
     [-87.69153338826158, 41.84922097134365],
     [-87.69132543240998, 41.84922422710328],
     [-87.6910378980547, 41.84922791622599],
     [-87.69046450215664, 41.8492328581346],
     [-87.69046076368956, 41.84907152934484],
     [-87.69045585447572, 41.84891672601092],
     [-87.6904519014877, 41.84877875009859],
     [-87.6904517426583, 41.84877320577632],
     [-87.69044566500749, 41.84857070003794],
     [-87.69043349556547, 41.84833584225434],
     [-87.69042862428638, 41.848241842216424],
     [-87.69043292567214, 41.84805421336035],
     [-87.69043136702841, 41.847995450718365],
     [-87.6904264786678, 41.84781103597139],
     [-87.69042390732399, 41.847712227442635],
     [-87.69042094177715, 41.847597829904245],
     [-87.6904156411877, 41.84741983500963],
     [-87.69041404897769, 41.847366231159675],
     [-87.69040786793865, 41.84713883380619],
     [-87.6904046680825, 41.84702018170653],
     [-87.69040358388368, 41.8469818658833],
     [-87.69039993497468, 41.84685178136437],
     [-87.69039985910682, 41.846848775582146],
     [-87.69039601612691, 41.84669658465926],
     [-87.69039114894296, 41.84651620354206],
     [-87.69083287272416, 41.84651005908298],
     [-87.69109254541557, 41.84650558441974],
     [-87.69145058399646, 41.84650050559854],
     [-87.69166105859436, 41.8464978398921],
     [-87.69201042593363, 41.846493753482186],
     [-87.69228090921692, 41.84649083377185],
     [-87.69233549190882, 41.846490244362734],
     [-87.69260320317399, 41.84648564548211],
     [-87.69284218332196, 41.8464831735427],
     [-87.69325806473954, 41.84647886900953],
     [-87.69342996691113, 41.84647614985776],
     [-87.69371273278836, 41.84647086426894],
     [-87.69378287689482, 41.84647009522909],
     [-87.69393193807502, 41.84646846180504],
     [-87.6942158272435, 41.8464646361914],
     [-87.6945420798155, 41.846459837231556],
     [-87.69471104923429, 41.84645839094836],
     [-87.69488020410873, 41.84645694184606],
     [-87.69508204009844, 41.8464519718822],
     [-87.69527239377236, 41.846449889112996],
     [-87.69526076262349, 41.84626138818423],
     [-87.69525703372923, 41.846119461081535],
     [-87.69525105724372, 41.84594900929978],
     [-87.69524705423535, 41.84579783320196],
     [-87.69523962130044, 41.84556710858825],
     [-87.69523580688363, 41.845448699859446],
     [-87.69522913430812, 41.84523367700758],
     [-87.69522343658393, 41.84506838663675],
     [-87.69521952364441, 41.84488598067331],
     [-87.69521534459284, 41.844691944341115],
     [-87.69555698693945, 41.844682803679525],
     [-87.69574405779036, 41.84468205871477],
     [-87.6958501700546, 41.844681004584174],
     [-87.69586559936462, 41.84502705583052],
     [-87.69586812436823, 41.845116450908186],
     [-87.69614770467874, 41.84511352935442],
     [-87.6963093887484, 41.845111901643556],
     [-87.69646203672369, 41.84511093667547],
     [-87.69661512004153, 41.84511063297198],
     [-87.69671858149854, 41.845110437582],
     [-87.6968908679273, 41.84510914242397],
     [-87.69704313169017, 41.84510636395631],
     [-87.69721815712151, 41.845102667849595],
     [-87.69733408438243, 41.84510018113494],
     [-87.69748063251616, 41.84509810692141],
     [-87.69762304051649, 41.845095469397535],
     [-87.69770536489756, 41.8450940937161],
     [-87.69781806397286, 41.845092212588135],
     [-87.69802742427382, 41.845090324947954],
     [-87.69819241065606, 41.84508873986252],
     [-87.69836573771937, 41.845086188660694],
     [-87.69851843574155, 41.845083928337246],
     [-87.69878410231232, 41.84508138984183],
     [-87.69893737103646, 41.845080837371924],
     [-87.69911456542742, 41.84508049874616],
     [-87.69923950114719, 41.84508025489772],
     [-87.69938461952891, 41.84507968384474],
     [-87.69957789650203, 41.84507866527499],
     [-87.69974290786111, 41.84507820353385],
     [-87.69986358305411, 41.84507788148277],
     [-87.69995193072023, 41.845077435057384],
     [-87.70015971624906, 41.845080159029116],
     [-87.70015835499407, 41.84502673392295],
     [-87.70015334669525, 41.84487596387284],
     [-87.70014826212412, 41.844613010124384],
     [-87.700143745376, 41.84437941892089],
     [-87.70013727620838, 41.84425091359291],
     [-87.70013613450995, 41.844228223046834],
     [-87.70013507691345, 41.84420396365887],
     [-87.70012619618545, 41.84400033895184],
     [-87.7001183166658, 41.84376478353284],
     [-87.70011013616902, 41.84351127801747],
     [-87.70010325435621, 41.84330105665454],
     [-87.70009870464844, 41.84315948253451],
     [-87.70009648875345, 41.84309028761267],
     [-87.70008551630535, 41.84276069540515],
     [-87.70008040652006, 41.842607180474296],
     [-87.70007415393255, 41.842396414234535],
     [-87.70006811411413, 41.842197531048335],
     [-87.70005770253226, 41.84188385912769],
     [-87.70005345427928, 41.84171539234579],
     [-87.70004850379941, 41.841491762780095],
     [-87.7000446094136, 41.841317206184286],
     [-87.70004144640093, 41.84117275764627],
     [-87.70003623185232, 41.84097506022341],
     [-87.70003361913457, 41.84087603185996],
     [-87.70002613270596, 41.84064157509982],
     [-87.70002009836297, 41.84045339521796],
     [-87.70001326425509, 41.84024204946795],
     [-87.70001232480251, 41.84021290002345],
     [-87.7000121625606, 41.840207863482554],
     [-87.7000120003187, 41.84020282694162],
     [-87.70000436012279, 41.839965295517004],
     [-87.69999559425057, 41.83969320791832],
     [-87.69998828493826, 41.83946303414047],
     [-87.69997914231371, 41.83917324359504],
     [-87.69997534487477, 41.83904541283136],
     [-87.69997087692597, 41.83889498412945],
     [-87.69996328404288, 41.838611898890484],
     [-87.69995660388882, 41.838362627648685],
     [-87.6999501164694, 41.83811994350663],
     [-87.69994230774387, 41.83787719804685],
     [-87.69993539442285, 41.837659154970865],
     [-87.69992452942924, 41.83732442474547],
     [-87.69915366242681, 41.83733779630718],
     [-87.69873355559372, 41.837345766953604],
     [-87.69843372584145, 41.837351410017625],
     [-87.69792952810971, 41.83736140953338],
     [-87.6975884613813, 41.83736891016663],
     [-87.69756373046496, 41.83736945394162],
     [-87.6973189854136, 41.83737479845546],
     [-87.69697635781458, 41.83738149001859],
     [-87.69655701910956, 41.83738964873239],
     [-87.6962077509046, 41.83739616433372],
     [-87.69583469980573, 41.837403041164876],
     [-87.69541401651055, 41.83740981611113],
     [-87.69502951448688, 41.837411602784634],
     [-87.69402005821397, 41.8380739721896],
     [-87.6940675694704, 41.83808614643774],
     [-87.69410711786783, 41.83810568621627],
     [-87.69412994132635, 41.83812069779063],
     [-87.6941342246848, 41.83812351540846],
     [-87.69417410360074, 41.83815957209022],
     [-87.69418499944874, 41.83818208110392],
     [-87.69419775230108, 41.83821700454688],
     [-87.69420324026093, 41.8383220030776],
     [-87.69420607707335, 41.83838719506678],
     [-87.69420946179089, 41.83846375159725],
     [-87.694212653524, 41.83861475864048],
     [-87.69421951790103, 41.83893947136528],
     [-87.6942237937175, 41.83909986965623],
     [-87.6942247663704, 41.839136065458526],
     [-87.69422987400881, 41.839326003388756],
     [-87.69423289225568, 41.83943806579158],
     [-87.69423627771282, 41.83956380291983],
     [-87.69424235479298, 41.83979026614321],
     [-87.69424844119563, 41.84001579574857],
     [-87.69425337844964, 41.8401810010451],
     [-87.6942569832654, 41.84030067103268],
     [-87.69426200618747, 41.84045981115405],
     [-87.69426665884644, 41.84058223122601],
     [-87.69428154578873, 41.840731136146836],
     [-87.69429771140734, 41.84083987105696],
     [-87.69433058320031, 41.84103267434346],
     [-87.6943800284783, 41.841230810738324],
     [-87.69401101625465, 41.84127927943425],
     [-87.69382064040151, 41.841303384317996],
     [-87.69367657292783, 41.84132066645913],
     [-87.6934722105013, 41.841345050308654],
     [-87.69322966747602, 41.841374708637616],
     [-87.69314509680969, 41.84138738236678],
     [-87.6930717244952, 41.84141433404779],
     [-87.69304130565475, 41.84143018706356],
     [-87.6929847730091, 41.84145965089705],
     [-87.69294583382221, 41.84148558709643],
     [-87.69286723669265, 41.8415653356123],
     [-87.69281638650368, 41.84164856019359],
     [-87.69279051711733, 41.841718175760356],
     [-87.69278334827793, 41.841793026694646],
     [-87.69278183786498, 41.84183774934066],
     [-87.69277944487219, 41.84193414251391],
     [-87.69277614850539, 41.84205857647401],
     [-87.6927726942148, 41.84219522096429],
     [-87.69277018860387, 41.84229553811816],
     [-87.69276686994786, 41.8424112169667],
     [-87.69276324170056, 41.8425173729115],
     [-87.69276154752478, 41.84256651253187],
     [-87.69275957623304, 41.8426236375887],
     [-87.69275618446333, 41.84272093002714],
     [-87.69275265790047, 41.842831614380295],
     [-87.69275044299901, 41.842910142935516],
     [-87.69274633194009, 41.84294338064172],
     [-87.69273386684148, 41.842975199624654],
     [-87.69270490331319, 41.84302009866755],
     [-87.69268465546733, 41.84304114389461],
     [-87.69264141250522, 41.84308258786945],
     [-87.6925831756017, 41.84311881710203],
     [-87.69253070219273, 41.843140230831565],
     [-87.69235921463897, 41.8432017058346],
     [-87.69226610086571, 41.843235380453606],
     [-87.69216803619585, 41.843272401861306],
     [-87.69211336698984, 41.84329314498764],
     [-87.69194168597997, 41.84335920105242],
     [-87.69189216333015, 41.843382663050576],
     [-87.69185942761749, 41.84340830308782],
     [-87.69182572794402, 41.84344594476356],
     [-87.69178938187146, 41.843509724035954],
     [-87.69178079865324, 41.84353497855359],
     [-87.69177045366068, 41.84357495921399],
     [-87.69177036863181, 41.84366060787743],
     [-87.69177375631803, 41.84386134211945],
     [-87.69177608573867, 41.84399939187004],
     [-87.69177901329331, 41.84412517772741],
     [-87.6917816904934, 41.844217207266524],
     [-87.69178436196161, 41.84430245895845],
     [-87.69178754366439, 41.84440280691916],
     [-87.69178998875739, 41.84447757460172],
     [-87.69179171060799, 41.84454410546911],
     [-87.69179719865963, 41.8447368491266],
     [-87.691491878346, 41.844741142341476],
     [-87.69119111304455, 41.84474519640943],
     [-87.69101291000753, 41.84474727374776],
     [-87.6907372090478, 41.84475143978386],
     [-87.69033863084452, 41.84475595992401],
     [-87.690009682151, 41.844759688352056],
     [-87.68958148699394, 41.84476779982094],
     [-87.68927835071227, 41.84477400452621],
     [-87.68893794642739, 41.844778186947224],
     [-87.68860467691026, 41.84478087241752],
     [-87.688321385718, 41.84478437600983],
     [-87.68800841640575, 41.84478916711921],
     [-87.68780303828034, 41.84479206096348],
     [-87.68779556840444, 41.84479215133084],
     [-87.68766767744138, 41.844793687826986],
     [-87.68756026930662, 41.844794978307576],
     [-87.68755924112843, 41.844682053701526],
     [-87.68755163121041, 41.84384676969836],
     [-87.68754591681487, 41.843219565591944],
     [-87.68753540513944, 41.84206566541832],
     [-87.68753220306, 41.84171428230624],
     [-87.68752972610791, 41.84144237782954],
     [-87.68752278977139, 41.84068094366267],
     [-87.68751940883581, 41.84030987335775],
     [-87.68751790003644, 41.84014416937721],
     [-87.68751533973736, 41.8398631951547],
     [-87.68750249948751, 41.838453686827286],
     [-87.687501751419, 41.83837158348603],
     [-87.68750169602332, 41.83836547791454],
     [-87.68750010522689, 41.83819068890536],
     [-87.68749937329913, 41.83811057271929],
     [-87.68749666993635, 41.8378137766765],
     [-87.68749568668662, 41.83770585001931],
     [-87.68748942501503, 41.83701851601438],
     [-87.68751312190984, 41.836812103065185],
     [-87.68750278497423, 41.83642579011876],
     [-87.68748711431259, 41.83588576668553],
     [-87.68745790477922, 41.8349131027197],
     [-87.6873994822242, 41.83480098240463],
     [-87.68745140773359, 41.83469249608833],
     [-87.6874483488935, 41.834586138713455],
     [-87.68744609956435, 41.83451026719163],
     [-87.68744321061837, 41.834412877340846],
     [-87.68743848962833, 41.83424373560384],
     [-87.68742315774703, 41.83371572091619],
     [-87.68741513455832, 41.83328208132777],
     [-87.68739278730594, 41.832043747208196],
     [-87.68703652439332, 41.83205274181531],
     [-87.68698998253747, 41.83205391688263],
     [-87.68636115620734, 41.83206978817032],
     [-87.68589066426361, 41.83208166242055],
     [-87.6857785790711, 41.83208399361856],
     [-87.68575850548012, 41.832084408952326],
     [-87.68575127364544, 41.8320845581534],
     [-87.68568594502638, 41.83208591398297],
     [-87.68507743977148, 41.83209408229302],
     [-87.68507562170502, 41.83209410714575],
     [-87.68464124334534, 41.83211138230692],
     [-87.68445309757267, 41.832102501846116],
     [-87.68407569103992, 41.832107531432946],
     [-87.68375997105042, 41.832110890969915],
     [-87.68341543134322, 41.83211455565376],
     [-87.6832726812315, 41.832115723207856],
     [-87.68321349854412, 41.83211644975711],
     [-87.68306768674799, 41.83211823987509],
     [-87.68265999893373, 41.83212392349501],
     [-87.68247691174852, 41.83212647497357],
     [-87.68205060267954, 41.832131562022354],
     [-87.68194835076615, 41.83213278198729],
     [-87.68143595736669, 41.83213790793682],
     [-87.680987361319, 41.83214239366362],
     [-87.68083111305191, 41.83214443679021],
     [-87.6807649694382, 41.8321453017032],
     [-87.68021700986701, 41.83215095842995],
     [-87.67983571943628, 41.83215489228781],
     [-87.67961019655228, 41.832158125111015],
     [-87.6795506429187, 41.832158978212014],
     [-87.67926851399146, 41.83216182332642],
     [-87.67900034996161, 41.83216452761788],
     [-87.67901120624273, 41.83247292471393],
     [-87.67901462815345, 41.83259083767571],
     [-87.67902627230443, 41.83296077716982],
     [-87.67902922888409, 41.833052397288945],
     [-87.67903249750056, 41.833156642972796],
     [-87.67903479097225, 41.83323464874066],
     [-87.67904646428451, 41.83364429733273],
     [-87.67905699674021, 41.83397778971755],
     [-87.67908431106592, 41.83484268680086],
     [-87.67909950252573, 41.83548049907944],
     [-87.67910703302974, 41.835796715480036],
     [-87.67923151891402, 41.83579536717471],
     [-87.67963293947828, 41.835791018719455],
     [-87.67979588601575, 41.835789174711294],
     [-87.6800558761361, 41.835777231340536],
     [-87.68006408589478, 41.83577685397024],
     [-87.68042789676512, 41.83566971574214],
     [-87.68056730872408, 41.83562652881486],
     [-87.6807565497163, 41.83556790475149],
     [-87.68105808898599, 41.835472662646],
     [-87.68117588142962, 41.83543706368401],
     [-87.68132859322807, 41.835390909966584],
     [-87.68178447038014, 41.83525620724166],
     [-87.68198468946132, 41.83519704558979],
     [-87.68239483943255, 41.83506959452172],

In [131]:
data['features'][0]['properties']

{'shape_area': '116096507.849', 'shape_leng': '93073.3408379', 'ward': '12'}

In [132]:
for feature in data['features']:
    if feature['properties']['ward'] == "49":
        print("This is ward 49")
        ward49_poly = shape(feature['geometry'])

This is ward 49

## Import Library Data

In [133]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofchicago.org", None)

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("x8fc-8rcq", limit=2000)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [134]:
# Convert to pandas DataFrame
library_df = pd.DataFrame.from_records(results)
library_df.head()

,name_,address,city,state,zip,phone,website,location,:@computed_region_rpca_8um6,:@computed_region_vrxf_vc4k,:@computed_region_6mkv_f3dw,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,hours_of_operation
0,Jefferson Park,5363 W. Lawrence Ave.,Chicago,IL,60630,Closed for Construction,{'url': 'https://www.chipublib.org/locations/3...,"{'latitude': '41.96759739182978', 'longitude':...",48,15,21869,260,50,NaN
1,Merlo,644 W. Belmont Ave.,Chicago,IL,60657,Closed for Construction,{'url': 'https://www.chipublib.org/locations/5...,"{'latitude': '41.940084208613214', 'longitude'...",22,57,4449,730,25,NaN
2,Douglass,3353 W. 13th St.,Chicago,IL,60623,Closed for Construction,{'url': 'https://www.chipublib.org/locations/2...,"{'latitude': '41.864500759742604', 'longitude'...",57,30,21569,34,14,NaN
3,Albany Park,3401 W. Foster Ave.,Chicago,IL,60625,(773) 539-5450,{'url': 'https://www.chipublib.org/locations/3/'},"{'latitude': '41.975456', 'longitude': '-87.71...",20,13,21849,167,38,"Sun., Closed; Mon. & Wed., 10-6; Tue. & Thu., ..."
4,Altgeld,13281 S. Corliss Ave.,Chicago,IL,60827,(312) 747-3270,{'url': 'https://www.chipublib.org/locations/4/'},"{'latitude': '41.65473021837776', 'longitude':...",47,51,4460,10,43,"Sun., Closed; Mon. & Wed., Noon-8; Tue. & Thu...."

In [135]:
library_df.columns

Index(['name_', 'address', 'city', 'state', 'zip', 'phone', 'website',
       'location', ':@computed_region_rpca_8um6',
       ':@computed_region_vrxf_vc4k', ':@computed_region_6mkv_f3dw',
       ':@computed_region_bdys_3d7i', ':@computed_region_43wa_7qmu',
       'hours_of_operation'],
      dtype='object')

In [136]:
# Drop unwanted columns
drop_list = [':@computed_region_rpca_8um6',
       ':@computed_region_vrxf_vc4k', ':@computed_region_6mkv_f3dw',
       ':@computed_region_bdys_3d7i', ':@computed_region_43wa_7qmu']
library_df.drop(drop_list, axis=1, inplace=True)
library_df.head()

,name_,address,city,state,zip,phone,website,location,hours_of_operation
0,Jefferson Park,5363 W. Lawrence Ave.,Chicago,IL,60630,Closed for Construction,{'url': 'https://www.chipublib.org/locations/3...,"{'latitude': '41.96759739182978', 'longitude':...",NaN
1,Merlo,644 W. Belmont Ave.,Chicago,IL,60657,Closed for Construction,{'url': 'https://www.chipublib.org/locations/5...,"{'latitude': '41.940084208613214', 'longitude'...",NaN
2,Douglass,3353 W. 13th St.,Chicago,IL,60623,Closed for Construction,{'url': 'https://www.chipublib.org/locations/2...,"{'latitude': '41.864500759742604', 'longitude'...",NaN
3,Albany Park,3401 W. Foster Ave.,Chicago,IL,60625,(773) 539-5450,{'url': 'https://www.chipublib.org/locations/3/'},"{'latitude': '41.975456', 'longitude': '-87.71...","Sun., Closed; Mon. & Wed., 10-6; Tue. & Thu., ..."
4,Altgeld,13281 S. Corliss Ave.,Chicago,IL,60827,(312) 747-3270,{'url': 'https://www.chipublib.org/locations/4/'},"{'latitude': '41.65473021837776', 'longitude':...","Sun., Closed; Mon. & Wed., Noon-8; Tue. & Thu...."

In [137]:
library_df.isnull().sum()

name_                 0
address               0
city                  0
state                 0
zip                   0
phone                 0
website               0
location              0
hours_of_operation    4
dtype: int64

In [138]:
library_df['hours_of_operation'].replace(np.nan, "Not listed", inplace=True)
library_df.isnull().sum()

name_                 0
address               0
city                  0
state                 0
zip                   0
phone                 0
website               0
location              0
hours_of_operation    0
dtype: int64

In [139]:
library_df[library_df['hours_of_operation'] == 'Not listed']

,name_,address,city,state,zip,phone,website,location,hours_of_operation
0,Jefferson Park,5363 W. Lawrence Ave.,Chicago,IL,60630,Closed for Construction,{'url': 'https://www.chipublib.org/locations/3...,"{'latitude': '41.96759739182978', 'longitude':...",Not listed
1,Merlo,644 W. Belmont Ave.,Chicago,IL,60657,Closed for Construction,{'url': 'https://www.chipublib.org/locations/5...,"{'latitude': '41.940084208613214', 'longitude'...",Not listed
2,Douglass,3353 W. 13th St.,Chicago,IL,60623,Closed for Construction,{'url': 'https://www.chipublib.org/locations/2...,"{'latitude': '41.864500759742604', 'longitude'...",Not listed
10,South Shore,2505 E. 73rd St.,Chicago,IL,60649,Closed for Construction,{'url': 'https://www.chipublib.org/locations/6...,"{'latitude': '41.76155535585864', 'longitude':...",Not listed

In [140]:
library_df.dtypes

name_                 object
address               object
city                  object
state                 object
zip                   object
phone                 object
website               object
location              object
hours_of_operation    object
dtype: object

In [141]:
#results_df['latitude'] = results_df['location'].apply(lambda x: x['latitude'])
library_df['latitude'] = pd.to_numeric(library_df['location'].apply(lambda x: x['latitude']))
library_df.head()

,name_,address,city,state,zip,phone,website,location,hours_of_operation,latitude
0,Jefferson Park,5363 W. Lawrence Ave.,Chicago,IL,60630,Closed for Construction,{'url': 'https://www.chipublib.org/locations/3...,"{'latitude': '41.96759739182978', 'longitude':...",Not listed,41.967597
1,Merlo,644 W. Belmont Ave.,Chicago,IL,60657,Closed for Construction,{'url': 'https://www.chipublib.org/locations/5...,"{'latitude': '41.940084208613214', 'longitude'...",Not listed,41.940084
2,Douglass,3353 W. 13th St.,Chicago,IL,60623,Closed for Construction,{'url': 'https://www.chipublib.org/locations/2...,"{'latitude': '41.864500759742604', 'longitude'...",Not listed,41.864501
3,Albany Park,3401 W. Foster Ave.,Chicago,IL,60625,(773) 539-5450,{'url': 'https://www.chipublib.org/locations/3/'},"{'latitude': '41.975456', 'longitude': '-87.71...","Sun., Closed; Mon. & Wed., 10-6; Tue. & Thu., ...",41.975456
4,Altgeld,13281 S. Corliss Ave.,Chicago,IL,60827,(312) 747-3270,{'url': 'https://www.chipublib.org/locations/4/'},"{'latitude': '41.65473021837776', 'longitude':...","Sun., Closed; Mon. & Wed., Noon-8; Tue. & Thu....",41.654730

In [142]:
library_df.dtypes

name_                  object
address                object
city                   object
state                  object
zip                    object
phone                  object
website                object
location               object
hours_of_operation     object
latitude              float64
dtype: object

In [143]:
library_df['longitude'] = pd.to_numeric(library_df['location'].apply(lambda x: x['longitude']))
library_df.head()

,name_,address,city,state,zip,phone,website,location,hours_of_operation,latitude,longitude
0,Jefferson Park,5363 W. Lawrence Ave.,Chicago,IL,60630,Closed for Construction,{'url': 'https://www.chipublib.org/locations/3...,"{'latitude': '41.96759739182978', 'longitude':...",Not listed,41.967597,-87.761554
1,Merlo,644 W. Belmont Ave.,Chicago,IL,60657,Closed for Construction,{'url': 'https://www.chipublib.org/locations/5...,"{'latitude': '41.940084208613214', 'longitude'...",Not listed,41.940084,-87.646143
2,Douglass,3353 W. 13th St.,Chicago,IL,60623,Closed for Construction,{'url': 'https://www.chipublib.org/locations/2...,"{'latitude': '41.864500759742604', 'longitude'...",Not listed,41.864501,-87.709685
3,Albany Park,3401 W. Foster Ave.,Chicago,IL,60625,(773) 539-5450,{'url': 'https://www.chipublib.org/locations/3/'},"{'latitude': '41.975456', 'longitude': '-87.71...","Sun., Closed; Mon. & Wed., 10-6; Tue. & Thu., ...",41.975456,-87.714090
4,Altgeld,13281 S. Corliss Ave.,Chicago,IL,60827,(312) 747-3270,{'url': 'https://www.chipublib.org/locations/4/'},"{'latitude': '41.65473021837776', 'longitude':...","Sun., Closed; Mon. & Wed., Noon-8; Tue. & Thu....",41.654730,-87.602230

In [144]:
library_df.drop('location', axis=1, inplace=True)
library_df.head()

,name_,address,city,state,zip,phone,website,hours_of_operation,latitude,longitude
0,Jefferson Park,5363 W. Lawrence Ave.,Chicago,IL,60630,Closed for Construction,{'url': 'https://www.chipublib.org/locations/3...,Not listed,41.967597,-87.761554
1,Merlo,644 W. Belmont Ave.,Chicago,IL,60657,Closed for Construction,{'url': 'https://www.chipublib.org/locations/5...,Not listed,41.940084,-87.646143
2,Douglass,3353 W. 13th St.,Chicago,IL,60623,Closed for Construction,{'url': 'https://www.chipublib.org/locations/2...,Not listed,41.864501,-87.709685
3,Albany Park,3401 W. Foster Ave.,Chicago,IL,60625,(773) 539-5450,{'url': 'https://www.chipublib.org/locations/3/'},"Sun., Closed; Mon. & Wed., 10-6; Tue. & Thu., ...",41.975456,-87.714090
4,Altgeld,13281 S. Corliss Ave.,Chicago,IL,60827,(312) 747-3270,{'url': 'https://www.chipublib.org/locations/4/'},"Sun., Closed; Mon. & Wed., Noon-8; Tue. & Thu....",41.654730,-87.602230

In [145]:
library_df['url'] = library_df['website'].apply(lambda x: x['url'])
library_df.head()

,name_,address,city,state,zip,phone,website,hours_of_operation,latitude,longitude,url
0,Jefferson Park,5363 W. Lawrence Ave.,Chicago,IL,60630,Closed for Construction,{'url': 'https://www.chipublib.org/locations/3...,Not listed,41.967597,-87.761554,https://www.chipublib.org/locations/38/
1,Merlo,644 W. Belmont Ave.,Chicago,IL,60657,Closed for Construction,{'url': 'https://www.chipublib.org/locations/5...,Not listed,41.940084,-87.646143,https://www.chipublib.org/locations/51/
2,Douglass,3353 W. 13th St.,Chicago,IL,60623,Closed for Construction,{'url': 'https://www.chipublib.org/locations/2...,Not listed,41.864501,-87.709685,https://www.chipublib.org/locations/25/
3,Albany Park,3401 W. Foster Ave.,Chicago,IL,60625,(773) 539-5450,{'url': 'https://www.chipublib.org/locations/3/'},"Sun., Closed; Mon. & Wed., 10-6; Tue. & Thu., ...",41.975456,-87.714090,https://www.chipublib.org/locations/3/
4,Altgeld,13281 S. Corliss Ave.,Chicago,IL,60827,(312) 747-3270,{'url': 'https://www.chipublib.org/locations/4/'},"Sun., Closed; Mon. & Wed., Noon-8; Tue. & Thu....",41.654730,-87.602230,https://www.chipublib.org/locations/4/

In [146]:
library_df.drop('website', axis=1, inplace=True)
library_df.head()

,name_,address,city,state,zip,phone,hours_of_operation,latitude,longitude,url
0,Jefferson Park,5363 W. Lawrence Ave.,Chicago,IL,60630,Closed for Construction,Not listed,41.967597,-87.761554,https://www.chipublib.org/locations/38/
1,Merlo,644 W. Belmont Ave.,Chicago,IL,60657,Closed for Construction,Not listed,41.940084,-87.646143,https://www.chipublib.org/locations/51/
2,Douglass,3353 W. 13th St.,Chicago,IL,60623,Closed for Construction,Not listed,41.864501,-87.709685,https://www.chipublib.org/locations/25/
3,Albany Park,3401 W. Foster Ave.,Chicago,IL,60625,(773) 539-5450,"Sun., Closed; Mon. & Wed., 10-6; Tue. & Thu., ...",41.975456,-87.714090,https://www.chipublib.org/locations/3/
4,Altgeld,13281 S. Corliss Ave.,Chicago,IL,60827,(312) 747-3270,"Sun., Closed; Mon. & Wed., Noon-8; Tue. & Thu....",41.654730,-87.602230,https://www.chipublib.org/locations/4/

In [147]:
library_df.rename(columns={'name_':'name'}, inplace=True)
library_df.head()

,name,address,city,state,zip,phone,hours_of_operation,latitude,longitude,url
0,Jefferson Park,5363 W. Lawrence Ave.,Chicago,IL,60630,Closed for Construction,Not listed,41.967597,-87.761554,https://www.chipublib.org/locations/38/
1,Merlo,644 W. Belmont Ave.,Chicago,IL,60657,Closed for Construction,Not listed,41.940084,-87.646143,https://www.chipublib.org/locations/51/
2,Douglass,3353 W. 13th St.,Chicago,IL,60623,Closed for Construction,Not listed,41.864501,-87.709685,https://www.chipublib.org/locations/25/
3,Albany Park,3401 W. Foster Ave.,Chicago,IL,60625,(773) 539-5450,"Sun., Closed; Mon. & Wed., 10-6; Tue. & Thu., ...",41.975456,-87.714090,https://www.chipublib.org/locations/3/
4,Altgeld,13281 S. Corliss Ave.,Chicago,IL,60827,(312) 747-3270,"Sun., Closed; Mon. & Wed., Noon-8; Tue. & Thu....",41.654730,-87.602230,https://www.chipublib.org/locations/4/

In [148]:
library_df['loc_type_pri'] = "Library"
library_df['loc_type_sec'] = "Library"
library_df.head()

,name,address,city,state,zip,phone,hours_of_operation,latitude,longitude,url,loc_type_pri,loc_type_sec
0,Jefferson Park,5363 W. Lawrence Ave.,Chicago,IL,60630,Closed for Construction,Not listed,41.967597,-87.761554,https://www.chipublib.org/locations/38/,Library,Library
1,Merlo,644 W. Belmont Ave.,Chicago,IL,60657,Closed for Construction,Not listed,41.940084,-87.646143,https://www.chipublib.org/locations/51/,Library,Library
2,Douglass,3353 W. 13th St.,Chicago,IL,60623,Closed for Construction,Not listed,41.864501,-87.709685,https://www.chipublib.org/locations/25/,Library,Library
3,Albany Park,3401 W. Foster Ave.,Chicago,IL,60625,(773) 539-5450,"Sun., Closed; Mon. & Wed., 10-6; Tue. & Thu., ...",41.975456,-87.714090,https://www.chipublib.org/locations/3/,Library,Library
4,Altgeld,13281 S. Corliss Ave.,Chicago,IL,60827,(312) 747-3270,"Sun., Closed; Mon. & Wed., Noon-8; Tue. & Thu....",41.654730,-87.602230,https://www.chipublib.org/locations/4/,Library,Library

In [149]:
library_column_list = library_df.columns.to_list()
library_column_list

['name',
 'address',
 'city',
 'state',
 'zip',
 'phone',
 'hours_of_operation',
 'latitude',
 'longitude',
 'url',
 'loc_type_pri',
 'loc_type_sec']

## Import School Data

In [150]:
#https://data.cityofchicago.org/resource/p83k-txqt.json
# client = Socrata("data.cityofchicago.org", None)

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("p83k-txqt", limit=2000)
# Convert to pandas DataFrame
schools_df = pd.DataFrame.from_records(results)
schools_df.head()

,the_geom,school_id,short_name,address,grade_cat,lat,long,:@computed_region_rpca_8um6,:@computed_region_vrxf_vc4k,:@computed_region_6mkv_f3dw,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu
0,"{'type': 'Point', 'coordinates': [-87.62662117...",610590,BRONZEVILLE CLASSICAL,8 W ROOT ST,ES,41.81924917,-87.62662118,37,4,14924,414,9
1,"{'type': 'Point', 'coordinates': [-87.64556149...",400113,CICS - CHICAGOQUEST HS,1443 N OGDEN AVE,HS,41.9077968,-87.6455615,54,37,14926,108,46
2,"{'type': 'Point', 'coordinates': [-87.55990690...",400168,GREAT LAKES,8401 S SAGINAW AVE,ES,41.74267138,-87.5599069,25,42,21202,226,37
3,"{'type': 'Point', 'coordinates': [-87.63756486...",610033,LASALLE,1734 N ORLEANS ST,ES,41.91389953,-87.63756486,16,68,21190,271,34
4,"{'type': 'Point', 'coordinates': [-87.73599882...",609716,KELVYN PARK HS,4343 W WRIGHTWOOD AVE,HS,41.9279184,-87.73599882,2,21,22615,439,17

In [151]:
schools_df.columns.to_list()

['the_geom',
 'school_id',
 'short_name',
 'address',
 'grade_cat',
 'lat',
 'long',
 ':@computed_region_rpca_8um6',
 ':@computed_region_vrxf_vc4k',
 ':@computed_region_6mkv_f3dw',
 ':@computed_region_bdys_3d7i',
 ':@computed_region_43wa_7qmu']

In [152]:
column_drop_list = ['the_geom','school_id',
                    ':@computed_region_rpca_8um6',
                    ':@computed_region_vrxf_vc4k',
                    ':@computed_region_6mkv_f3dw',
                    ':@computed_region_bdys_3d7i',
                    ':@computed_region_43wa_7qmu']
schools_df.drop(column_drop_list, axis=1, inplace=True)
schools_df.head()

,short_name,address,grade_cat,lat,long
0,BRONZEVILLE CLASSICAL,8 W ROOT ST,ES,41.81924917,-87.62662118
1,CICS - CHICAGOQUEST HS,1443 N OGDEN AVE,HS,41.9077968,-87.6455615
2,GREAT LAKES,8401 S SAGINAW AVE,ES,41.74267138,-87.5599069
3,LASALLE,1734 N ORLEANS ST,ES,41.91389953,-87.63756486
4,KELVYN PARK HS,4343 W WRIGHTWOOD AVE,HS,41.9279184,-87.73599882

In [153]:
schools_df.dtypes

short_name    object
address       object
grade_cat     object
lat           object
long          object
dtype: object

In [154]:
schools_df['lat'] = pd.to_numeric(schools_df['lat'])
schools_df['long'] = pd.to_numeric(schools_df['long'])
schools_df.dtypes

short_name     object
address        object
grade_cat      object
lat           float64
long          float64
dtype: object

In [155]:
schools_df['grade_cat'].value_counts()

ES    477
HS    173
Name: grade_cat, dtype: int64

In [156]:
def convert_schools_type(col):
    if col == 'ES':
        return 'Elementary School'
    elif col == 'HS':
        return 'High School'
    else:
        return 'School'

In [157]:
schools_df['loc_type_sec'] = schools_df.apply(lambda x: convert_schools_type(x['grade_cat']), axis=1)
schools_df.head()

,short_name,address,grade_cat,lat,long,loc_type_sec
0,BRONZEVILLE CLASSICAL,8 W ROOT ST,ES,41.819249,-87.626621,Elementary School
1,CICS - CHICAGOQUEST HS,1443 N OGDEN AVE,HS,41.907797,-87.645561,High School
2,GREAT LAKES,8401 S SAGINAW AVE,ES,41.742671,-87.559907,Elementary School
3,LASALLE,1734 N ORLEANS ST,ES,41.913900,-87.637565,Elementary School
4,KELVYN PARK HS,4343 W WRIGHTWOOD AVE,HS,41.927918,-87.735999,High School

In [158]:
schools_df.drop('grade_cat', axis=1, inplace=True)
schools_df.head()

,short_name,address,lat,long,loc_type_sec
0,BRONZEVILLE CLASSICAL,8 W ROOT ST,41.819249,-87.626621,Elementary School
1,CICS - CHICAGOQUEST HS,1443 N OGDEN AVE,41.907797,-87.645561,High School
2,GREAT LAKES,8401 S SAGINAW AVE,41.742671,-87.559907,Elementary School
3,LASALLE,1734 N ORLEANS ST,41.913900,-87.637565,Elementary School
4,KELVYN PARK HS,4343 W WRIGHTWOOD AVE,41.927918,-87.735999,High School

In [159]:
schools_df.isnull().sum()

short_name      0
address         0
lat             0
long            0
loc_type_sec    0
dtype: int64

In [160]:
# change names to match first dataset
schools_df.rename(columns={'short_name': 'name',
                           'lat': 'latitude',
                           'long': 'longitude'},
                  inplace=True)
schools_df.head()

,name,address,latitude,longitude,loc_type_sec
0,BRONZEVILLE CLASSICAL,8 W ROOT ST,41.819249,-87.626621,Elementary School
1,CICS - CHICAGOQUEST HS,1443 N OGDEN AVE,41.907797,-87.645561,High School
2,GREAT LAKES,8401 S SAGINAW AVE,41.742671,-87.559907,Elementary School
3,LASALLE,1734 N ORLEANS ST,41.913900,-87.637565,Elementary School
4,KELVYN PARK HS,4343 W WRIGHTWOOD AVE,41.927918,-87.735999,High School

In [161]:
schools_df['loc_type_pri'] = "School"
schools_df.head()

,name,address,latitude,longitude,loc_type_sec,loc_type_pri
0,BRONZEVILLE CLASSICAL,8 W ROOT ST,41.819249,-87.626621,Elementary School,School
1,CICS - CHICAGOQUEST HS,1443 N OGDEN AVE,41.907797,-87.645561,High School,School
2,GREAT LAKES,8401 S SAGINAW AVE,41.742671,-87.559907,Elementary School,School
3,LASALLE,1734 N ORLEANS ST,41.913900,-87.637565,Elementary School,School
4,KELVYN PARK HS,4343 W WRIGHTWOOD AVE,41.927918,-87.735999,High School,School

In [162]:
schools_df['name'] = schools_df['name'].str.title()
schools_df['address'] = schools_df['address'].str.title()
schools_df.head()

,name,address,latitude,longitude,loc_type_sec,loc_type_pri
0,Bronzeville Classical,8 W Root St,41.819249,-87.626621,Elementary School,School
1,Cics - Chicagoquest Hs,1443 N Ogden Ave,41.907797,-87.645561,High School,School
2,Great Lakes,8401 S Saginaw Ave,41.742671,-87.559907,Elementary School,School
3,Lasalle,1734 N Orleans St,41.913900,-87.637565,Elementary School,School
4,Kelvyn Park Hs,4343 W Wrightwood Ave,41.927918,-87.735999,High School,School

## Import police stations

In [163]:
#https://data.cityofchicago.org/resource/z8bn-74gv.json
results = client.get("z8bn-74gv", limit=2000)
police_df = pd.DataFrame.from_records(results)
police_df.head()

,district,district_name,address,city,state,zip,website,x_coordinate,y_coordinate,latitude,...,location,:@computed_region_rpca_8um6,:@computed_region_vrxf_vc4k,:@computed_region_6mkv_f3dw,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,:@computed_region_awaf_s7ux,phone,fax,tty
0,Headquarters,Headquarters,3510 S Michigan Ave,Chicago,IL,60653,{'url': 'http://home.chicagopolice.org'},1177731.401,1881697.404,41.83070169,...,"{'latitude': '41.8307016873', 'longitude': '-8...",36,1,4301,446,9,12,NaN,NaN,NaN
1,18,Near North,1160 N Larrabee St,Chicago,IL,60610,{'url': 'http://home.chicagopolice.org/communi...,1172080.029,1908086.527,41.90324165,...,"{'latitude': '41.9032416531', 'longitude': '-8...",54,37,14926,108,46,41,312-742-5870,312-742-5771,312-742-5773
2,19,Town Hall,850 W Addison St,Chicago,IL,60613,{'url': 'http://home.chicagopolice.org/communi...,1169730.744,1924160.317,41.94740046,...,"{'latitude': '41.9474004564', 'longitude': '-8...",53,57,21186,727,25,38,312-744-8320,312-744-4481,312-744-8011
3,20,Lincoln,5400 N Lincoln Ave,Chicago,IL,60625,{'url': 'http://home.chicagopolice.org/communi...,1158399.146,1935788.826,41.97954951,...,"{'latitude': '41.9795495131', 'longitude': '-8...",20,6,21849,29,24,46,312-742-8714,312-742-8803,312-742-8841
4,22,Morgan Park,1900 W Monterey Ave,Chicago,IL,60643,{'url': 'http://home.chicagopolice.org/communi...,1165825.476,1830851.333,41.69143478,...,"{'latitude': '41.6914347795', 'longitude': '-8...",13,74,22212,378,42,33,312-745-0710,312-745-0814,312-745-0569

In [164]:
police_df.shape

(23, 21)

In [165]:
police_df.columns

Index(['district', 'district_name', 'address', 'city', 'state', 'zip',
       'website', 'x_coordinate', 'y_coordinate', 'latitude', 'longitude',
       'location', ':@computed_region_rpca_8um6',
       ':@computed_region_vrxf_vc4k', ':@computed_region_6mkv_f3dw',
       ':@computed_region_bdys_3d7i', ':@computed_region_43wa_7qmu',
       ':@computed_region_awaf_s7ux', 'phone', 'fax', 'tty'],
      dtype='object')

In [166]:
police_df.drop(['district',
                ':@computed_region_rpca_8um6',
                ':@computed_region_vrxf_vc4k',
                ':@computed_region_6mkv_f3dw',
                ':@computed_region_bdys_3d7i',
                ':@computed_region_43wa_7qmu',
                ':@computed_region_awaf_s7ux'],
              axis=1,
              inplace=True)
police_df.head()

,district_name,address,city,state,zip,website,x_coordinate,y_coordinate,latitude,longitude,location,phone,fax,tty
0,Headquarters,3510 S Michigan Ave,Chicago,IL,60653,{'url': 'http://home.chicagopolice.org'},1177731.401,1881697.404,41.83070169,-87.62339535,"{'latitude': '41.8307016873', 'longitude': '-8...",NaN,NaN,NaN
1,Near North,1160 N Larrabee St,Chicago,IL,60610,{'url': 'http://home.chicagopolice.org/communi...,1172080.029,1908086.527,41.90324165,-87.64335214,"{'latitude': '41.9032416531', 'longitude': '-8...",312-742-5870,312-742-5771,312-742-5773
2,Town Hall,850 W Addison St,Chicago,IL,60613,{'url': 'http://home.chicagopolice.org/communi...,1169730.744,1924160.317,41.94740046,-87.65151202,"{'latitude': '41.9474004564', 'longitude': '-8...",312-744-8320,312-744-4481,312-744-8011
3,Lincoln,5400 N Lincoln Ave,Chicago,IL,60625,{'url': 'http://home.chicagopolice.org/communi...,1158399.146,1935788.826,41.97954951,-87.69284451,"{'latitude': '41.9795495131', 'longitude': '-8...",312-742-8714,312-742-8803,312-742-8841
4,Morgan Park,1900 W Monterey Ave,Chicago,IL,60643,{'url': 'http://home.chicagopolice.org/communi...,1165825.476,1830851.333,41.69143478,-87.66852039,"{'latitude': '41.6914347795', 'longitude': '-8...",312-745-0710,312-745-0814,312-745-0569

In [167]:
police_df.drop(['x_coordinate', 'y_coordinate','location','fax','tty'], axis=1, inplace=True)

In [168]:
police_df['url'] = police_df['website'].apply(lambda x: x['url'])
police_df.head()

,district_name,address,city,state,zip,website,latitude,longitude,phone,url
0,Headquarters,3510 S Michigan Ave,Chicago,IL,60653,{'url': 'http://home.chicagopolice.org'},41.83070169,-87.62339535,NaN,http://home.chicagopolice.org
1,Near North,1160 N Larrabee St,Chicago,IL,60610,{'url': 'http://home.chicagopolice.org/communi...,41.90324165,-87.64335214,312-742-5870,http://home.chicagopolice.org/community/distri...
2,Town Hall,850 W Addison St,Chicago,IL,60613,{'url': 'http://home.chicagopolice.org/communi...,41.94740046,-87.65151202,312-744-8320,http://home.chicagopolice.org/community/distri...
3,Lincoln,5400 N Lincoln Ave,Chicago,IL,60625,{'url': 'http://home.chicagopolice.org/communi...,41.97954951,-87.69284451,312-742-8714,http://home.chicagopolice.org/community/distri...
4,Morgan Park,1900 W Monterey Ave,Chicago,IL,60643,{'url': 'http://home.chicagopolice.org/communi...,41.69143478,-87.66852039,312-745-0710,http://home.chicagopolice.org/community/distri...

In [169]:
police_df.rename(columns={'district_name':'name'}, inplace=True)

In [170]:
police_df.drop(['website'], axis=1, inplace=True)

In [171]:
police_df['loc_type_pri'] = "Police"
police_df['loc_type_sec'] = "Police"
police_df.head()

,name,address,city,state,zip,latitude,longitude,phone,url,loc_type_pri,loc_type_sec
0,Headquarters,3510 S Michigan Ave,Chicago,IL,60653,41.83070169,-87.62339535,NaN,http://home.chicagopolice.org,Police,Police
1,Near North,1160 N Larrabee St,Chicago,IL,60610,41.90324165,-87.64335214,312-742-5870,http://home.chicagopolice.org/community/distri...,Police,Police
2,Town Hall,850 W Addison St,Chicago,IL,60613,41.94740046,-87.65151202,312-744-8320,http://home.chicagopolice.org/community/distri...,Police,Police
3,Lincoln,5400 N Lincoln Ave,Chicago,IL,60625,41.97954951,-87.69284451,312-742-8714,http://home.chicagopolice.org/community/distri...,Police,Police
4,Morgan Park,1900 W Monterey Ave,Chicago,IL,60643,41.69143478,-87.66852039,312-745-0710,http://home.chicagopolice.org/community/distri...,Police,Police

In [172]:
police_df.dtypes

name            object
address         object
city            object
state           object
zip             object
latitude        object
longitude       object
phone           object
url             object
loc_type_pri    object
loc_type_sec    object
dtype: object

In [173]:
police_df['latitude'] = pd.to_numeric(police_df['latitude'])
police_df['longitude'] = pd.to_numeric(police_df['longitude'])
police_df.dtypes

name             object
address          object
city             object
state            object
zip              object
latitude        float64
longitude       float64
phone            object
url              object
loc_type_pri     object
loc_type_sec     object
dtype: object

## Import public health clinics

In [174]:
#https://data.cityofchicago.org/resource/kcki-hnch.json
results = client.get("kcki-hnch", limit=2000)
clinic_df = pd.DataFrame.from_records(results)
clinic_df

,site_name,clinic_type,hours_of_operation,street_address,city,state,zip,phone_1,latitude,longitude,...,site_number,phone_2,wic,family_case_management,healthy_families_program,phone_3,phone_4,phone_5,public_health_nursing,healthy_start_program
0,Englewood MHC,Mental Health Clinic,Mon - Fri: 8:30 a.m. – 4:30 p.m.,641 W. 63rd St,Chicago,IL,60621,312-747-7496,41.7796923798942,-87.6414279129933,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Greater Grand/MID-South MHC,Mental Health Clinic,Mon - Fri: 8:30 a.m. – 4:30 p.m.,4314 S. Cottage Grove,Chicago,IL,60653,312-747-0036,41.8163259703374,-87.6068467379213,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Greater Lawn MHC,Mental Health Clinic,Mon - Fri: 8:30 a.m. – 4:30 p.m.,4150 W. 55th Street,Chicago,IL,60632,312-747-1020,41.7932745562102,-87.7276640853016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Lawndale MHC,Mental Health Clinic,Mon - Fri: 8:30 a.m. – 4:30 p.m.,1201 S. Campbell St,Chicago,IL,60608,312-746-5905,41.8664559722815,-87.689013605616,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,North River MHC,Mental Health Clinic,Mon - Fri: 8:30 a.m. – 4:30 p.m.,5801 N. Pulaski Road,Chicago,IL,60646,312-744-1906,41.9859315141827,-87.7283692100341,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Austin STI Specialty Clinic,STI Specialty Clinic,Mon and Wed: 8:00 a.m. - 4:00 p.m.; Tues: 9:00...,"4909 W. Division St., Suite 411",Chicago,IL,60651,312-746-4871,41.9022123009897,-87.7488454100337,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Englewood STI Specialty Clinic,STI Specialty Clinic,"Mon, Wed & Fri: 8:00 a.m. - 4:00 p.m.; Tues & ...","641 W. 63rd St., Lower Level",Chicago,IL,60621,312-747-8900,41.7796923798942,-87.6414279129933,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Lakeview STI Specialty Clinic,STI Specialty Clinic,"Mon, Wed & Fri: 8:00 a.m. - 4:00 p.m.; Tues &T...","2861 N. Clark, 2nd Floor",Chicago,IL,60657,312-744-5507,41.9343668416639,-87.6459821265964,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Roseland STI Specialty Clinic,STI Specialty Clinic,Mon: 8:00 a.m. - 4:00 p.m.; Thurs: 9:00 a.m. -...,200 E. 115th St.,Chicago,IL,60628,312-747-2831,41.6854857627965,-87.6179898743747,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Alivio Medical Center,WIC Clinic,"Mon, Tues, Thurs & Fri: 8:00 a.m. - 4:30 p.m.;...",2355 S. Western Ave.,Chicago,IL,60608,773-843-4220,41.8485826627697,-87.6853941892416,...,106,773-650-1205,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Alivio Medical Center - Morgan,WIC Clinic,Mon - Fri: 8:30 a.m. – 2:00 p.m.,966 W. 21st St.,Chicago,IL,60608,312-829-6838,41.8541501,-87.6532229,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Asian Human Services Family Health Center, Inc.",WIC Clinic,"Mon, Wed, Thurs & Fri: 9:00 a.m. - 5:00 p.m.; ...",2424 W. Peterson Ave.,Chicago,IL,60659,773-761-2324,41.990601390534,-87.6907388634942,...,NaN,773-564-8114,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Austin Clinic,WIC Clinic,Mon - Fri: 8:00 a.m. - 4:00 p.m.,4909 W. Division St.,Chicago,IL,60651,312-746-4797,41.9022123009897,-87.7488454100337,...,19,312-746-4796,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Chicago Family Health Center,WIC Clinic,Mon - Fri: 8:00 a.m. - 4:00 p.m.,9119 S. Exchange Ave.,Chicago,IL,60617,"773-768-0373 ext. 1180, 1181, 1182",41.7294571200879,-87.5524778181968,...,33,NaN,Y,Y,Y,NaN,NaN,NaN,NaN,NaN
14,Englewood NHC,WIC Clinic,"Mon, Wed & Fri: 8:00 a.m. - 4:00 p.m.; Tues & ...",641 W. 63rd St.,Chicago,IL,60621,312-747-4814,41.7796923798942,-87.6414279129933,...,28,312-747-4815,Y,Y,NaN,312-747-1241,312-745-0606,312-745-4261,Y,Y
15,Erie Health Center,WIC Clinic,"Mon, Wed & Fri: 8:00 a.m. - 4:00 p.m.; Tues & ...",2418 W. Division St.,Chicago,IL,60622,312-744-8118,41.9031180442705,-87.6877798637138,...,12,312-744-8119,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Erie Health Center,WIC Clinic,"Mon, Tues, Thurs & Fri: 8:30 a.m. - 5:00 p.m.;...",1701 W. Superior St.,Chicago,IL,60610,312-432-7372,41.8950055462436,-87.6698132252845,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Friend Family Health Center Inc.,WIC Clinic,Mon - Fri: 8:00 a.m. - 4:00 p.m.,800 E. 55th St.,Chicago,IL,60615,773-702-3719,41.7950752068089,-87.6060966092832,...,23,773-795-9971,Y,NaN,NaN,773-795-6299,NaN,NaN,NaN,NaN
18,Greater Lawn Health Center,WIC Clinic,Mon - Fri: 8:00 a.m. - 4:00 p.m.,4150 W. 55th St.,Chicago,IL,60632,312-747-5415,41.7932745562102,-87.7276640853016,...,5,312-747-5416,Y,Y,NaN,312-745-0062,312-745-0064,312-745-0065,NaN,NaN
19,Henry Booth House,WIC Clinic,Mon - Fri: 9:00 a.m. - 5:00 p.m.; Sat: 9:00 a....,2907 S. Wabash,Chicago,IL,60616,312-225-1982,41.8416928120434,-87.6250831018228,...,103,312-949-2132,Y,NaN,NaN,312-949-2156,312-949-2129,NaN,NaN,NaN
20,Lower West Side NHC,WIC Clinic,Mon - Fri: 8:00 a.m. - 4:00 p.m.,1713 S. Ashland Ave.,Chicago,IL,60608,312-743-0600,41.858282101206,-87.6660132643974,...,17,312-743-0597,Y,Y,NaN,312-743-743-0596,NaN,NaN,NaN,NaN
21,Uptown NHC,WIC Clinic,"Mon, Wed & Fri :8:00 a.m. - 4:00 p.m.; Tues & ...",845 W. Wilson Ave.,Chicago,IL,60640,312-744-0073,41.9653665320897,-87.6517602437067,...,1,312-744-1365,Y,Y,NaN,312-744-1354,312-744-1353,312-742-3661,Y,NaN
22,Westside Health Partnership,WIC Clinic,Mon - Fri: 8:00 a.m. - 4:00 p.m.,2400 S. Kedzie Ave.,Chicago,IL,60623,773-542-0288,41.8480495688783,-87.7052946635722,...,121,773-542-0289,Y,NaN,NaN,773-542-0311,NaN,NaN,NaN,NaN
23,WIC Main Office,WIC Clinic,Mon - Fri: 8:00 a.m. - 4:00 p.m.,"333 S. State St., 2nd Floor",Chicago,IL,60604,312-747-9140,41.8773969370361,-87.6275149317109,...,NaN,312-747-9142,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Nothing in Ward 49

## Import park facilities

In [175]:
#https://data.cityofchicago.org/resource/eix4-gf83.json
results = client.get("eix4-gf83", limit=4500)
parks_df = pd.DataFrame.from_records(results)
parks_df.head()

,objectid,park_no,park,the_geom,facility_n,facility_t,x_coord,y_coord,gisobjid
0,1066,9,HAMILTON (ALEXANDER),"{'type': 'Point', 'coordinates': [-87.63769762...",CULTURAL CENTER,SPECIAL,-87.63769763,41.76299921,2494
1,1067,9,HAMILTON (ALEXANDER),"{'type': 'Point', 'coordinates': [-87.63792902...",GYMNASIUM,INDOOR,-87.63792903,41.76281652,2495
2,1068,9,HAMILTON (ALEXANDER),"{'type': 'Point', 'coordinates': [-87.63691359...",BASEBALL JR/SOFTBALL,OUTDOOR,-87.6369136,41.76084939,2496
3,1069,9,HAMILTON (ALEXANDER),"{'type': 'Point', 'coordinates': [-87.63832013...",BASEBALL JR/SOFTBALL,OUTDOOR,-87.63832013,41.76200536,2497
4,1070,9,HAMILTON (ALEXANDER),"{'type': 'Point', 'coordinates': [-87.63805916...",BASEBALL JR/SOFTBALL,OUTDOOR,-87.63805917,41.76047385,2498

In [176]:
parks_df.shape

(4383, 9)

In [177]:
parks_df.groupby('facility_n').size()

facility_n
ALFRED CALDWELL LILY POND     1
ARCHERY RANGE                 3
ARTIFICIAL TURF FIELD        55
BAND SHELL                    1
BASEBALL BATTING CAGE         2
                             ..
VOLLEYBALL (SAND)            20
WATER PLAYGROUND             22
WATER SLIDE                   5
WETLAND AREA                 10
WHEELCHR ACCSSBLE BALLFLD     2
Length: 66, dtype: int64

In [178]:
parks_df.columns

Index(['objectid', 'park_no', 'park', 'the_geom', 'facility_n', 'facility_t',
       'x_coord', 'y_coord', 'gisobjid'],
      dtype='object')

In [179]:
parks_df.rename(columns={'park':'name',
                         'facility_n':'loc_type_sec',
                         'x_coord':'longitude',
                         'y_coord':'latitude'},
               inplace=True)
parks_df.head()

,objectid,park_no,name,the_geom,loc_type_sec,facility_t,longitude,latitude,gisobjid
0,1066,9,HAMILTON (ALEXANDER),"{'type': 'Point', 'coordinates': [-87.63769762...",CULTURAL CENTER,SPECIAL,-87.63769763,41.76299921,2494
1,1067,9,HAMILTON (ALEXANDER),"{'type': 'Point', 'coordinates': [-87.63792902...",GYMNASIUM,INDOOR,-87.63792903,41.76281652,2495
2,1068,9,HAMILTON (ALEXANDER),"{'type': 'Point', 'coordinates': [-87.63691359...",BASEBALL JR/SOFTBALL,OUTDOOR,-87.6369136,41.76084939,2496
3,1069,9,HAMILTON (ALEXANDER),"{'type': 'Point', 'coordinates': [-87.63832013...",BASEBALL JR/SOFTBALL,OUTDOOR,-87.63832013,41.76200536,2497
4,1070,9,HAMILTON (ALEXANDER),"{'type': 'Point', 'coordinates': [-87.63805916...",BASEBALL JR/SOFTBALL,OUTDOOR,-87.63805917,41.76047385,2498

In [180]:
parks_df.drop(['objectid','park_no','the_geom','facility_t','gisobjid']
             , axis=1
             , inplace=True)
parks_df.head()

                   name          loc_type_sec     longitude     latitude
0  HAMILTON (ALEXANDER)       CULTURAL CENTER  -87.63769763  41.76299921
1  HAMILTON (ALEXANDER)             GYMNASIUM  -87.63792903  41.76281652
2  HAMILTON (ALEXANDER)  BASEBALL JR/SOFTBALL   -87.6369136  41.76084939
3  HAMILTON (ALEXANDER)  BASEBALL JR/SOFTBALL  -87.63832013  41.76200536
4  HAMILTON (ALEXANDER)  BASEBALL JR/SOFTBALL  -87.63805917  41.76047385

In [181]:
parks_df.drop_duplicates(subset=['name','loc_type_sec'],
                         keep='first',
                         inplace=True)
parks_df.head()

                   name          loc_type_sec     longitude     latitude
0  HAMILTON (ALEXANDER)       CULTURAL CENTER  -87.63769763  41.76299921
1  HAMILTON (ALEXANDER)             GYMNASIUM  -87.63792903  41.76281652
2  HAMILTON (ALEXANDER)  BASEBALL JR/SOFTBALL   -87.6369136  41.76084939
6  HAMILTON (ALEXANDER)        POOL (OUTDOOR)   -87.6359055  41.76192462
7  HAMILTON (ALEXANDER)            PLAYGROUND  -87.63686292  41.76261984

In [182]:
parks_df.dtypes

name            object
loc_type_sec    object
longitude       object
latitude        object
dtype: object

In [183]:
parks_df['longitude'] = pd.to_numeric(parks_df['longitude'])
parks_df['latitude'] = pd.to_numeric(parks_df['latitude'])
parks_df.dtypes

name             object
loc_type_sec     object
longitude       float64
latitude        float64
dtype: object

In [184]:
parks_df['loc_type_pri'] = "Park"

In [185]:
parks_df['name'] = parks_df['name'].str.title()
parks_df['loc_type_sec'] = parks_df['loc_type_sec'].str.title()
parks_df.head()

,name,loc_type_sec,longitude,latitude,loc_type_pri
0,Hamilton (Alexander),Cultural Center,-87.637698,41.762999,Park
1,Hamilton (Alexander),Gymnasium,-87.637929,41.762817,Park
2,Hamilton (Alexander),Baseball Jr/Softball,-87.636914,41.760849,Park
6,Hamilton (Alexander),Pool (Outdoor),-87.635906,41.761925,Park
7,Hamilton (Alexander),Playground,-87.636863,41.762620,Park

## Import fire stations

In [186]:
#https://data.cityofchicago.org/resource/28km-gtjn.json
results = client.get("28km-gtjn", limit=2000)
fire_df = pd.DataFrame.from_records(results)
fire_df.head()

,name,address,city,state,zip,engine,location,:@computed_region_rpca_8um6,:@computed_region_vrxf_vc4k,:@computed_region_6mkv_f3dw,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,:@computed_region_awaf_s7ux
0,E5,324 S DESPLAINES ST,CHICAGO,IL,60661,E5,"{'latitude': '41.877028304420755', 'longitude'...",45,29,4452,786,36,48
1,E11,5343 N CUMBERLAND AVE,CHICAGO,IL,60656,E11,"{'latitude': '41.97685625348317', 'longitude':...",31,36,4448,735,29,34
2,E81,10458 S HOXIE AVE,CHICAGO,IL,60617,E81,"{'latitude': '41.705334319654064', 'longitude'...",25,48,21202,174,47,47
3,E22,605 W ARMITAGE AVE,CHICAGO,IL,60614,E22,"{'latitude': '41.91792047709303', 'longitude':...",16,68,21190,273,34,51
4,E50,5000 S UNION AVE,CHICAGO,IL,60609,E50,"{'latitude': '41.80344788181221', 'longitude':...",37,59,14924,84,4,12

In [187]:
fire_df.columns

Index(['name', 'address', 'city', 'state', 'zip', 'engine', 'location',
       ':@computed_region_rpca_8um6', ':@computed_region_vrxf_vc4k',
       ':@computed_region_6mkv_f3dw', ':@computed_region_bdys_3d7i',
       ':@computed_region_43wa_7qmu', ':@computed_region_awaf_s7ux'],
      dtype='object')

In [188]:
fire_df.drop(['engine',
              ':@computed_region_rpca_8um6',
              ':@computed_region_vrxf_vc4k',
              ':@computed_region_6mkv_f3dw',
              ':@computed_region_bdys_3d7i',
              ':@computed_region_43wa_7qmu',
              ':@computed_region_awaf_s7ux'],
            axis=1,
            inplace=True)
fire_df.head()

,name,address,city,state,zip,location
0,E5,324 S DESPLAINES ST,CHICAGO,IL,60661,"{'latitude': '41.877028304420755', 'longitude'..."
1,E11,5343 N CUMBERLAND AVE,CHICAGO,IL,60656,"{'latitude': '41.97685625348317', 'longitude':..."
2,E81,10458 S HOXIE AVE,CHICAGO,IL,60617,"{'latitude': '41.705334319654064', 'longitude'..."
3,E22,605 W ARMITAGE AVE,CHICAGO,IL,60614,"{'latitude': '41.91792047709303', 'longitude':..."
4,E50,5000 S UNION AVE,CHICAGO,IL,60609,"{'latitude': '41.80344788181221', 'longitude':..."

In [189]:
fire_df['longitude'] = pd.to_numeric(fire_df['location'].apply(lambda x: x['longitude']))
fire_df.head()

,name,address,city,state,zip,location,longitude
0,E5,324 S DESPLAINES ST,CHICAGO,IL,60661,"{'latitude': '41.877028304420755', 'longitude'...",-87.644309
1,E11,5343 N CUMBERLAND AVE,CHICAGO,IL,60656,"{'latitude': '41.97685625348317', 'longitude':...",-87.836496
2,E81,10458 S HOXIE AVE,CHICAGO,IL,60617,"{'latitude': '41.705334319654064', 'longitude'...",-87.560885
3,E22,605 W ARMITAGE AVE,CHICAGO,IL,60614,"{'latitude': '41.91792047709303', 'longitude':...",-87.643967
4,E50,5000 S UNION AVE,CHICAGO,IL,60609,"{'latitude': '41.80344788181221', 'longitude':...",-87.642994

In [190]:
fire_df['latitude'] = pd.to_numeric(fire_df['location'].apply(lambda x: x['latitude']))
fire_df.head()

,name,address,city,state,zip,location,longitude,latitude
0,E5,324 S DESPLAINES ST,CHICAGO,IL,60661,"{'latitude': '41.877028304420755', 'longitude'...",-87.644309,41.877028
1,E11,5343 N CUMBERLAND AVE,CHICAGO,IL,60656,"{'latitude': '41.97685625348317', 'longitude':...",-87.836496,41.976856
2,E81,10458 S HOXIE AVE,CHICAGO,IL,60617,"{'latitude': '41.705334319654064', 'longitude'...",-87.560885,41.705334
3,E22,605 W ARMITAGE AVE,CHICAGO,IL,60614,"{'latitude': '41.91792047709303', 'longitude':...",-87.643967,41.917920
4,E50,5000 S UNION AVE,CHICAGO,IL,60609,"{'latitude': '41.80344788181221', 'longitude':...",-87.642994,41.803448

In [191]:
fire_df.drop(['location'], axis=1, inplace=True)
fire_df.head()

  name                address     city state    zip  longitude   latitude
0   E5    324 S DESPLAINES ST  CHICAGO    IL  60661 -87.644309  41.877028
1  E11  5343 N CUMBERLAND AVE  CHICAGO    IL  60656 -87.836496  41.976856
2  E81      10458 S HOXIE AVE  CHICAGO    IL  60617 -87.560885  41.705334
3  E22     605 W ARMITAGE AVE  CHICAGO    IL  60614 -87.643967  41.917920
4  E50       5000 S UNION AVE  CHICAGO    IL  60609 -87.642994  41.803448

In [192]:
fire_df['loc_type_pri'] = "Fire Station"
fire_df['loc_type_sec'] = "Fire Station"
fire_df.head()

,name,address,city,state,zip,longitude,latitude,loc_type_pri,loc_type_sec
0,E5,324 S DESPLAINES ST,CHICAGO,IL,60661,-87.644309,41.877028,Fire Station,Fire Station
1,E11,5343 N CUMBERLAND AVE,CHICAGO,IL,60656,-87.836496,41.976856,Fire Station,Fire Station
2,E81,10458 S HOXIE AVE,CHICAGO,IL,60617,-87.560885,41.705334,Fire Station,Fire Station
3,E22,605 W ARMITAGE AVE,CHICAGO,IL,60614,-87.643967,41.917920,Fire Station,Fire Station
4,E50,5000 S UNION AVE,CHICAGO,IL,60609,-87.642994,41.803448,Fire Station,Fire Station

In [193]:
fire_df['address'] = fire_df['address'].str.title()
fire_df['city'] = fire_df['city'].str.title()
fire_df.head()

,name,address,city,state,zip,longitude,latitude,loc_type_pri,loc_type_sec
0,E5,324 S Desplaines St,Chicago,IL,60661,-87.644309,41.877028,Fire Station,Fire Station
1,E11,5343 N Cumberland Ave,Chicago,IL,60656,-87.836496,41.976856,Fire Station,Fire Station
2,E81,10458 S Hoxie Ave,Chicago,IL,60617,-87.560885,41.705334,Fire Station,Fire Station
3,E22,605 W Armitage Ave,Chicago,IL,60614,-87.643967,41.917920,Fire Station,Fire Station
4,E50,5000 S Union Ave,Chicago,IL,60609,-87.642994,41.803448,Fire Station,Fire Station

## Merge Datasets

In [194]:
poi_df = pd.concat([library_df, schools_df, police_df, parks_df, fire_df], ignore_index=True)
poi_df.head()

,name,address,city,state,zip,phone,hours_of_operation,latitude,longitude,url,loc_type_pri,loc_type_sec
0,Jefferson Park,5363 W. Lawrence Ave.,Chicago,IL,60630,Closed for Construction,Not listed,41.967597,-87.761554,https://www.chipublib.org/locations/38/,Library,Library
1,Merlo,644 W. Belmont Ave.,Chicago,IL,60657,Closed for Construction,Not listed,41.940084,-87.646143,https://www.chipublib.org/locations/51/,Library,Library
2,Douglass,3353 W. 13th St.,Chicago,IL,60623,Closed for Construction,Not listed,41.864501,-87.709685,https://www.chipublib.org/locations/25/,Library,Library
3,Albany Park,3401 W. Foster Ave.,Chicago,IL,60625,(773) 539-5450,"Sun., Closed; Mon. & Wed., 10-6; Tue. & Thu., ...",41.975456,-87.714090,https://www.chipublib.org/locations/3/,Library,Library
4,Altgeld,13281 S. Corliss Ave.,Chicago,IL,60827,(312) 747-3270,"Sun., Closed; Mon. & Wed., Noon-8; Tue. & Thu....",41.654730,-87.602230,https://www.chipublib.org/locations/4/,Library,Library

In [195]:
poi_df.dtypes

name                   object
address                object
city                   object
state                  object
zip                    object
phone                  object
hours_of_operation     object
latitude              float64
longitude             float64
url                    object
loc_type_pri           object
loc_type_sec           object
dtype: object

In [196]:
poi_df.shape

(3448, 12)

## Create Empty Dataset for Ward Locations

In [197]:
df_column_list = poi_df.columns.to_list()
ward49_df = pd.DataFrame(columns=df_column_list)
ward49_df.dtypes

name                  object
address               object
city                  object
state                 object
zip                   object
phone                 object
hours_of_operation    object
latitude              object
longitude             object
url                   object
loc_type_pri          object
loc_type_sec          object
dtype: object

In [198]:
ward49_df['latitude'] = ward49_df['latitude'].astype(float)
ward49_df['longitude'] = ward49_df['longitude'].astype(float)
ward49_df.dtypes

name                   object
address                object
city                   object
state                  object
zip                    object
phone                  object
hours_of_operation     object
latitude              float64
longitude             float64
url                    object
loc_type_pri           object
loc_type_sec           object
dtype: object

## Save Ward 49 Locations to New Dataset

In [199]:
# determine if each location is in Ward 49
#entries = []
entries = {}
for index, row in poi_df.iterrows():
    point = Point(row['longitude'], row['latitude'])
    if ward49_poly.contains(point):
        print("{}: {} {} is in Ward 49. YAY!!!".format(index, row['name'], row['loc_type_sec']))
        #pd.concat([ward49_df, poi_df.loc[index, :]], ignore_index=True)
        ward49_df = ward49_df.append(poi_df.loc[index])
        #entries.append(row)
        #print(pd.DataFrame(row))
        #for i in df_column_list:
            #print(i, row[i])
            #entries.update({i: row[i]})
        #print(entries)
        #pd.concat([ward49_df, entries], ignore_index=True)
        #ward49_df

61: Rogers Park Library is in Ward 49. YAY!!!
173: Sullivan Hs High School is in Ward 49. YAY!!!
212: Gale Elementary School is in Ward 49. YAY!!!
319: Acero - De La Cruz Elementary School is in Ward 49. YAY!!!
401: Field Elementary School is in Ward 49. YAY!!!
444: Jordan Elementary School is in Ward 49. YAY!!!
535: Chicago Math & Science Hs High School is in Ward 49. YAY!!!
673: Kilmer Elementary School is in Ward 49. YAY!!!
719: New Field Elementary School is in Ward 49. YAY!!!
796: Hartigan (David) Beach Playground is in Ward 49. YAY!!!
865: Howard (Ure) Beach Beach is in Ward 49. YAY!!!
866: Howard (Ure) Beach Playground is in Ward 49. YAY!!!
930: Griffin (Marion Mahony) Beach Beach is in Ward 49. YAY!!!
1060: Langdon (Mary Margaret) Playground Park is in Ward 49. YAY!!!
1069: Lazarus (Emma) Playground Park is in Ward 49. YAY!!!
1085: Leone (Sam) Beach Beach is in Ward 49. YAY!!!
1086: Leone (Sam) Beach Gymnasium is in Ward 49. YAY!!!
1087: Leone (Sam) Beach Playground is in Ward 49. YAY!!!
1138: Loyola Basketball Court is in Ward 49. YAY!!!
1139: Loyola Beach is in Ward 49. YAY!!!
1140: Loyola Football/Soccer Combo Fld is in Ward 49. YAY!!!
1141: Loyola Gymnasium is in Ward 49. YAY!!!
1142: Loyola Baseball Jr/Softball is in Ward 49. YAY!!!
1143: Loyola Playground is in Ward 49. YAY!!!
1144: Loyola Baseball Sr is in Ward 49. YAY!!!
1145: Loyola Tennis Court is in Ward 49. YAY!!!
1445: Leone (Sam) Beach Boat Launch Non-Motorized is in Ward 49. YAY!!!
1602: Columbia Beach Beach is in Ward 49. YAY!!!
1741: Matanky (Eugene) Playground is in Ward 49. YAY!!!
1844: Fargo (James) Beach Beach is in Ward 49. YAY!!!
1956: Goldberg (Louis) Playground Park is in Ward 49. YAY!!!
2052: Loyola Basketball Backboard is in Ward 49. YAY!!!
2088: Paschen (Christian) Basketball Backboard is in Ward 49. YAY!!!
2092: Pottawattomie Basketball Backboard is in Ward 49. YAY!!!
2125: White (Willye B.) Basketball Backboard is in Ward 49. YAY!!!
2169: Loyola Shuffleboard is in Ward 49. YAY!!!
2170: Loyola Boxing Center is in Ward 49. YAY!!!
2173: Paschen (Christian) Volleyball is in Ward 49. YAY!!!
2214: White (Willye B.) Gymnasium is in Ward 49. YAY!!!
2234: Pottawattomie Handball/Racquet (In) is in Ward 49. YAY!!!
2238: Pottawattomie Dog Friendly Area is in Ward 49. YAY!!!
2252: Pottawattomie Artificial Turf Field is in Ward 49. YAY!!!
2275: Loyola Nature/Bird Sanctuary is in Ward 49. YAY!!!
2292: Triangle Fitness Course is in Ward 49. YAY!!!
2369: Juneway Terr. Beach Beach is in Ward 49. YAY!!!
2371: Prinz (Tobey) Beach Beach is in Ward 49. YAY!!!
2372: North Shore Beach Beach is in Ward 49. YAY!!!
2387: Loyola Fitness Course is in Ward 49. YAY!!!
2593: Paschen (Christian) Basketball Court is in Ward 49. YAY!!!
2594: Paschen (Christian) Playground is in Ward 49. YAY!!!
2650: Pottawattomie Basketball Court is in Ward 49. YAY!!!
2651: Pottawattomie Football/Soccer Combo Fld is in Ward 49. YAY!!!
2652: Pottawattomie Fitness Center is in Ward 49. YAY!!!
2653: Pottawattomie Gymnasium is in Ward 49. YAY!!!
2654: Pottawattomie Baseball Jr/Softball is in Ward 49. YAY!!!
2655: Pottawattomie Playground is in Ward 49. YAY!!!
2656: Pottawattomie Spray Feature is in Ward 49. YAY!!!
2657: Pottawattomie Baseball Sr is in Ward 49. YAY!!!
2731: Rogers (Phillip) Beach Beach is in Ward 49. YAY!!!
2732: Rogers (Phillip) Beach Tennis Court is in Ward 49. YAY!!!
2941: Touhy (Patrick) Football/Soccer Combo Fld is in Ward 49. YAY!!!
2942: Touhy (Patrick) Baseball Jr/Softball is in Ward 49. YAY!!!
2943: Touhy (Patrick) Playground is in Ward 49. YAY!!!
2944: Touhy (Patrick) Tennis Court is in Ward 49. YAY!!!
3019: Washington (Harold) Mem. Playground Park is in Ward 49. YAY!!!
3110: White (Willye B.) Basketball Court is in Ward 49. YAY!!!
3111: White (Willye B.) Baseball Jr/Softball is in Ward 49. YAY!!!
3112: White (Willye B.) Playground is in Ward 49. YAY!!!
3113: White (Willye B.) Fitness Center is in Ward 49. YAY!!!
3172: Triangle Community Garden is in Ward 49. YAY!!!
3173: Dubkin (Leonard) Community Garden is in Ward 49. YAY!!!
3174: Goldberg (Louis) Community Garden is in Ward 49. YAY!!!
3175: Loyola Community Garden is in Ward 49. YAY!!!
3388: E102 Fire Station is in Ward 49. YAY!!!

In [200]:
ward49_df.head()

,name,address,city,state,zip,phone,hours_of_operation,latitude,longitude,url,loc_type_pri,loc_type_sec
61,Rogers Park,6907 N. Clark St.,Chicago,IL,60626,(312) 744-0156,"Sun., Closed; Mon. & Wed., Noon-8; Tue. & Thu....",42.006708,-87.673408,https://www.chipublib.org/locations/61/,Library,Library
173,Sullivan Hs,6631 N Bosworth Ave,NaN,NaN,NaN,NaN,NaN,42.002688,-87.669192,NaN,School,High School
212,Gale,1631 W Jonquil Ter,NaN,NaN,NaN,NaN,NaN,42.021091,-87.671939,NaN,School,Elementary School
319,Acero - De La Cruz,7416 N Ridge Blvd,NaN,NaN,NaN,NaN,NaN,42.016476,-87.684406,NaN,School,Elementary School
401,Field,7019 N Ashland Ave,NaN,NaN,NaN,NaN,NaN,42.009664,-87.669985,NaN,School,Elementary School

In [201]:
ward49_df.shape

(74, 12)

In [202]:
ward49_df.groupby('loc_type_pri')['name'].count()

loc_type_pri
Fire Station     1
Library          1
Park            64
School           8
Name: name, dtype: int64

In [203]:
ward49_df.groupby('loc_type_sec')['name'].count()

loc_type_sec
Artificial Turf Field         1
Baseball Jr/Softball          4
Baseball Sr                   2
Basketball Backboard          4
Basketball Court              4
Beach                        10
Boat Launch Non-Motorized     1
Boxing Center                 1
Community Garden              4
Dog Friendly Area             1
Elementary School             6
Fire Station                  1
Fitness Center                2
Fitness Course                2
Football/Soccer Combo Fld     3
Gymnasium                     4
Handball/Racquet (In)         1
High School                   2
Library                       1
Nature/Bird Sanctuary         1
Playground                    9
Playground Park               4
Shuffleboard                  1
Spray Feature                 1
Tennis Court                  3
Volleyball                    1
Name: name, dtype: int64

In [204]:
ward49_df[(ward49_df['loc_type_sec'] == 'Basketball Backboard') | (ward49_df['loc_type_sec'] == 'Basketball Court')].sort_values(['name','loc_type_sec'])

,name,address,city,state,zip,phone,hours_of_operation,latitude,longitude,url,loc_type_pri,loc_type_sec
2052,Loyola,NaN,NaN,NaN,NaN,NaN,NaN,42.012480,-87.661744,NaN,Park,Basketball Backboard
1138,Loyola,NaN,NaN,NaN,NaN,NaN,NaN,42.012389,-87.661702,NaN,Park,Basketball Court
2088,Paschen (Christian),NaN,NaN,NaN,NaN,NaN,NaN,42.009170,-87.679992,NaN,Park,Basketball Backboard
2593,Paschen (Christian),NaN,NaN,NaN,NaN,NaN,NaN,42.009168,-87.679927,NaN,Park,Basketball Court
2092,Pottawattomie,NaN,NaN,NaN,NaN,NaN,NaN,42.015431,-87.677412,NaN,Park,Basketball Backboard
2650,Pottawattomie,NaN,NaN,NaN,NaN,NaN,NaN,42.015428,-87.677579,NaN,Park,Basketball Court
2125,White (Willye B.),NaN,NaN,NaN,NaN,NaN,NaN,42.019915,-87.671372,NaN,Park,Basketball Backboard
3110,White (Willye B.),NaN,NaN,NaN,NaN,NaN,NaN,42.019912,-87.671544,NaN,Park,Basketball Court

In [205]:
ward49_df.drop(ward49_df[ward49_df['loc_type_sec'] == 'Basketball Backboard'].index, inplace=True)
ward49_df.shape

(70, 12)

In [206]:
ward49_df[(ward49_df['loc_type_sec'] == 'Fitness Center') | (ward49_df['loc_type_sec'] == 'Fitness Course')].sort_values(['name','loc_type_sec'])

,name,address,city,state,zip,phone,hours_of_operation,latitude,longitude,url,loc_type_pri,loc_type_sec
2387,Loyola,NaN,NaN,NaN,NaN,NaN,NaN,42.008899,-87.659606,NaN,Park,Fitness Course
2652,Pottawattomie,NaN,NaN,NaN,NaN,NaN,NaN,42.015126,-87.678106,NaN,Park,Fitness Center
2292,Triangle,NaN,NaN,NaN,NaN,NaN,NaN,42.022694,-87.675244,NaN,Park,Fitness Course
3113,White (Willye B.),NaN,NaN,NaN,NaN,NaN,NaN,42.019682,-87.671366,NaN,Park,Fitness Center

In [207]:
ward49_df.drop(ward49_df[ward49_df['loc_type_sec'] == 'Fitness Course'].index, inplace=True)
ward49_df.shape

(68, 12)

In [208]:
ward49_df[(ward49_df['loc_type_sec'] == 'Playground') | (ward49_df['loc_type_sec'] == 'Playground Park')].sort_values(['name','loc_type_sec'])

,name,address,city,state,zip,phone,hours_of_operation,latitude,longitude,url,loc_type_pri,loc_type_sec
1956,Goldberg (Louis),NaN,NaN,NaN,NaN,NaN,NaN,42.010662,-87.665660,NaN,Park,Playground Park
796,Hartigan (David) Beach,NaN,NaN,NaN,NaN,NaN,NaN,42.002272,-87.657694,NaN,Park,Playground
866,Howard (Ure) Beach,NaN,NaN,NaN,NaN,NaN,NaN,42.019075,-87.664249,NaN,Park,Playground
1060,Langdon (Mary Margaret),NaN,NaN,NaN,NaN,NaN,NaN,42.001884,-87.674874,NaN,Park,Playground Park
1069,Lazarus (Emma),NaN,NaN,NaN,NaN,NaN,NaN,42.004178,-87.663190,NaN,Park,Playground Park
1087,Leone (Sam) Beach,NaN,NaN,NaN,NaN,NaN,NaN,42.013190,-87.663162,NaN,Park,Playground
1143,Loyola,NaN,NaN,NaN,NaN,NaN,NaN,42.010896,-87.660610,NaN,Park,Playground
1741,Matanky (Eugene),NaN,NaN,NaN,NaN,NaN,NaN,42.007428,-87.680525,NaN,Park,Playground
2594,Paschen (Christian),NaN,NaN,NaN,NaN,NaN,NaN,42.009169,-87.679507,NaN,Park,Playground
2655,Pottawattomie,NaN,NaN,NaN,NaN,NaN,NaN,42.014785,-87.678592,NaN,Park,Playground
2943,Touhy (Patrick),NaN,NaN,NaN,NaN,NaN,NaN,42.015640,-87.672752,NaN,Park,Playground
3019,Washington (Harold) Mem.,NaN,NaN,NaN,NaN,NaN,NaN,42.021491,-87.673387,NaN,Park,Playground Park
3112,White (Willye B.),NaN,NaN,NaN,NaN,NaN,NaN,42.020211,-87.670914,NaN,Park,Playground

In [209]:
ward49_df.loc[ward49_df['loc_type_sec'] == 'Playground Park', 'loc_type_sec'] = "Playground"
ward49_df.groupby('loc_type_sec')['name'].count()

loc_type_sec
Artificial Turf Field         1
Baseball Jr/Softball          4
Baseball Sr                   2
Basketball Court              4
Beach                        10
Boat Launch Non-Motorized     1
Boxing Center                 1
Community Garden              4
Dog Friendly Area             1
Elementary School             6
Fire Station                  1
Fitness Center                2
Football/Soccer Combo Fld     3
Gymnasium                     4
Handball/Racquet (In)         1
High School                   2
Library                       1
Nature/Bird Sanctuary         1
Playground                   13
Shuffleboard                  1
Spray Feature                 1
Tennis Court                  3
Volleyball                    1
Name: name, dtype: int64

In [210]:
beach_df = ward49_df[ward49_df['loc_type_sec'].str.contains('Beach')]
beach_df

,name,address,city,state,zip,phone,hours_of_operation,latitude,longitude,url,loc_type_pri,loc_type_sec
865,Howard (Ure) Beach,NaN,NaN,NaN,NaN,NaN,NaN,42.018864,-87.663915,NaN,Park,Beach
930,Griffin (Marion Mahony) Beach,NaN,NaN,NaN,NaN,NaN,NaN,42.015881,-87.662629,NaN,Park,Beach
1085,Leone (Sam) Beach,NaN,NaN,NaN,NaN,NaN,NaN,42.013134,-87.661568,NaN,Park,Beach
1139,Loyola,NaN,NaN,NaN,NaN,NaN,NaN,42.009768,-87.659097,NaN,Park,Beach
1602,Columbia Beach,NaN,NaN,NaN,NaN,NaN,NaN,42.004488,-87.657240,NaN,Park,Beach
1844,Fargo (James) Beach,NaN,NaN,NaN,NaN,NaN,NaN,42.017081,-87.663039,NaN,Park,Beach
2369,Juneway Terr. Beach,NaN,NaN,NaN,NaN,NaN,NaN,42.022445,-87.665221,NaN,Park,Beach
2371,Prinz (Tobey) Beach,NaN,NaN,NaN,NaN,NaN,NaN,42.005892,-87.657486,NaN,Park,Beach
2372,North Shore Beach,NaN,NaN,NaN,NaN,NaN,NaN,42.004035,-87.657344,NaN,Park,Beach
2731,Rogers (Phillip) Beach,NaN,NaN,NaN,NaN,NaN,NaN,42.021485,-87.664715,NaN,Park,Beach

In [211]:
#beach_df['name'].apply(lambda x: x.replace('Beach','').strip())
beach_df['name'].str.replace('Beach','',case=False).str.strip()

865                Howard (Ure)
930     Griffin (Marion Mahony)
1085                Leone (Sam)
1139                     Loyola
1602                   Columbia
1844              Fargo (James)
2369              Juneway Terr.
2371              Prinz (Tobey)
2372                North Shore
2731           Rogers (Phillip)
Name: name, dtype: object

In [212]:
#beach_df['name'] = beach_df['name'].str.replace('Beach','',case=False).str.strip() #SettingWithCopyWarning
#beach_df.loc[:,'name'] = beach_df['name'].apply(lambda x: x.replace('Beach','')) #SettingWithCopyWarning
#beach_df = beach_df.apply(lambda x: x.name.replace('Beach',''))
beach_df

,name,address,city,state,zip,phone,hours_of_operation,latitude,longitude,url,loc_type_pri,loc_type_sec
865,Howard (Ure) Beach,NaN,NaN,NaN,NaN,NaN,NaN,42.018864,-87.663915,NaN,Park,Beach
930,Griffin (Marion Mahony) Beach,NaN,NaN,NaN,NaN,NaN,NaN,42.015881,-87.662629,NaN,Park,Beach
1085,Leone (Sam) Beach,NaN,NaN,NaN,NaN,NaN,NaN,42.013134,-87.661568,NaN,Park,Beach
1139,Loyola,NaN,NaN,NaN,NaN,NaN,NaN,42.009768,-87.659097,NaN,Park,Beach
1602,Columbia Beach,NaN,NaN,NaN,NaN,NaN,NaN,42.004488,-87.657240,NaN,Park,Beach
1844,Fargo (James) Beach,NaN,NaN,NaN,NaN,NaN,NaN,42.017081,-87.663039,NaN,Park,Beach
2369,Juneway Terr. Beach,NaN,NaN,NaN,NaN,NaN,NaN,42.022445,-87.665221,NaN,Park,Beach
2371,Prinz (Tobey) Beach,NaN,NaN,NaN,NaN,NaN,NaN,42.005892,-87.657486,NaN,Park,Beach
2372,North Shore Beach,NaN,NaN,NaN,NaN,NaN,NaN,42.004035,-87.657344,NaN,Park,Beach
2731,Rogers (Phillip) Beach,NaN,NaN,NaN,NaN,NaN,NaN,42.021485,-87.664715,NaN,Park,Beach

In [213]:
ward49_df['name'] = ward49_df['name'].apply(lambda x: x.replace('Beach',''))
ward49_df.head()

,name,address,city,state,zip,phone,hours_of_operation,latitude,longitude,url,loc_type_pri,loc_type_sec
61,Rogers Park,6907 N. Clark St.,Chicago,IL,60626,(312) 744-0156,"Sun., Closed; Mon. & Wed., Noon-8; Tue. & Thu....",42.006708,-87.673408,https://www.chipublib.org/locations/61/,Library,Library
173,Sullivan Hs,6631 N Bosworth Ave,NaN,NaN,NaN,NaN,NaN,42.002688,-87.669192,NaN,School,High School
212,Gale,1631 W Jonquil Ter,NaN,NaN,NaN,NaN,NaN,42.021091,-87.671939,NaN,School,Elementary School
319,Acero - De La Cruz,7416 N Ridge Blvd,NaN,NaN,NaN,NaN,NaN,42.016476,-87.684406,NaN,School,Elementary School
401,Field,7019 N Ashland Ave,NaN,NaN,NaN,NaN,NaN,42.009664,-87.669985,NaN,School,Elementary School

In [214]:
ward49_df[ward49_df['loc_type_sec'] == 'Beach']

,name,address,city,state,zip,phone,hours_of_operation,latitude,longitude,url,loc_type_pri,loc_type_sec
865,Howard (Ure),NaN,NaN,NaN,NaN,NaN,NaN,42.018864,-87.663915,NaN,Park,Beach
930,Griffin (Marion Mahony),NaN,NaN,NaN,NaN,NaN,NaN,42.015881,-87.662629,NaN,Park,Beach
1085,Leone (Sam),NaN,NaN,NaN,NaN,NaN,NaN,42.013134,-87.661568,NaN,Park,Beach
1139,Loyola,NaN,NaN,NaN,NaN,NaN,NaN,42.009768,-87.659097,NaN,Park,Beach
1602,Columbia,NaN,NaN,NaN,NaN,NaN,NaN,42.004488,-87.657240,NaN,Park,Beach
1844,Fargo (James),NaN,NaN,NaN,NaN,NaN,NaN,42.017081,-87.663039,NaN,Park,Beach
2369,Juneway Terr.,NaN,NaN,NaN,NaN,NaN,NaN,42.022445,-87.665221,NaN,Park,Beach
2371,Prinz (Tobey),NaN,NaN,NaN,NaN,NaN,NaN,42.005892,-87.657486,NaN,Park,Beach
2372,North Shore,NaN,NaN,NaN,NaN,NaN,NaN,42.004035,-87.657344,NaN,Park,Beach
2731,Rogers (Phillip),NaN,NaN,NaN,NaN,NaN,NaN,42.021485,-87.664715,NaN,Park,Beach

In [215]:
# Save data as file
ward49_df.to_excel(excel_writer='./data/Ward49.xlsx',
                    sheet_name='Sheet1',
                    columns=df_column_list, 
                    header=True, 
                    index=False, 
                    verbose=True)